In [1]:
import numpy as np
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt
import seaborn as sn
from scipy.stats import ttest_ind

In [9]:
df = pd.read_csv('../data/cleaned_churn_train.csv')

In [10]:
df

,avg_dist,avg_rating_by_driver,avg_rating_of_driver,avg_surge,surge_pct,trips_in_first_30_days,luxury_car_user,weekday_pct,month,active,phone_Android,phone_iPhone,city_Astapor,city_King's Landing,city_Winterfell,rating_stated
0,6.94,5.0,5.000000,1.00,0.0,0,False,100.0,5,False,1,0,1,0,0,True
1,8.06,5.0,5.000000,1.00,0.0,2,True,0.0,1,False,1,0,1,0,0,True
2,21.50,4.0,4.601697,1.00,0.0,1,True,100.0,5,False,0,1,0,0,1,False
3,9.46,5.0,4.601697,2.75,100.0,1,False,100.0,1,False,1,0,0,0,1,False
4,13.77,5.0,4.601697,1.00,0.0,0,False,100.0,5,False,0,1,0,0,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,2.06,4.8,4.300000,1.08,9.5,8,False,90.5,4,False,1,0,0,0,1,True
39996,2.05,5.0,5.000000,1.00,0.0,2,False,85.7,5,False,0,1,0,1,0,True
39997,3.04,5.0,5.000000,1.00,0.0,3,True,33.3,6,True,1,0,0,0,1,True
39998,3.49,4.3,3.300000,1.50,40.0,5,False,60.0,2,False,0,1,1,0,0,True
39999,4.25,4.7,5.000000,1.00,0.0,2,True,42.9,6,True,0,1,1,0,0,True