In [1]:
import numpy as np
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt
import seaborn as sn
from scipy.stats import ttest_ind

In [9]:
df = pd.read_csv('../data/cleaned_churn_train.csv')

In [13]:
X_train = pd.read_csv('../data/cleaned_X_train.csv')
X_test = pd.read_csv('../data/cleaned_X_test.csv')
y_train = pd.read_csv('../data/cleaned_y_train.csv')
y_test = pd.read_csv('../data/cleaned_y_test.csv')

In [17]:
y_test

      active
0       True
1       True
2       True
3      False
4      False
...      ...
9995    True
9996   False
9997    True
9998    True
9999    True

[10000 rows x 1 columns]