In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
%matplotlib inline
pd.options.display.float_format = '{:,.2f}'.format
plt.style.use('seaborn-white')
# colorblind safe
plt.style.use('seaborn-colorblind')
plt.style.use('tableau-colorblind10')

# width and precision for f strings
width = 10
precision = 4

# default sizes for plots
# https://matplotlib.org/3.3.0/tutorials/introductory/customizing.html#customizing-with-matplotlibrc-files
plt.rcParams['figure.figsize'] = [10, 6]
plt.rcParams['font.size'] = 16
plt.rcParams['legend.fontsize'] = 'large'
plt.rcParams['figure.titlesize'] = 'medium'
plt.rcParams['lines.linewidth'] = 2

# other settings
pd.options.display.float_format = '{:,.4f}'.format
pd.set_option("display.precision", 3)
np.set_printoptions(precision=3, suppress=True)
%load_ext autoreload
%autoreload 2
pd.set_option('display.max_columns', None)

In [2]:
data = pd.read_csv('../data/churn_train.csv')

In [3]:
data.head()

,avg_dist,avg_rating_by_driver,avg_rating_of_driver,avg_surge,city,last_trip_date,phone,signup_date,surge_pct,trips_in_first_30_days,luxury_car_user,weekday_pct
0,6.9400,5.0000,5.0000,1.0000,Astapor,2014-05-03,Android,2014-01-12,0.0000,0,False,100.0000
1,8.0600,5.0000,5.0000,1.0000,Astapor,2014-01-26,Android,2014-01-25,0.0000,2,True,0.0000
2,21.5000,4.0000,nan,1.0000,Winterfell,2014-05-21,iPhone,2014-01-02,0.0000,1,True,100.0000
3,9.4600,5.0000,nan,2.7500,Winterfell,2014-01-10,Android,2014-01-09,100.0000,1,False,100.0000
4,13.7700,5.0000,nan,1.0000,Winterfell,2014-05-13,iPhone,2014-01-31,0.0000,0,False,100.0000

In [6]:
# setup dir
import sys, os
sys.path.insert(0, os.path.abspath('/Users/pault/Desktop/github/galvanize_course/useful/'))

In [8]:
# import useful stuff
import models_class as md #prediction, get_coeffs, get_stats, plot_resid, qqplot
#from models_class import prediction, get_coeffs, get_stats, plot_resid, qqplot
from pd_eda_class import data_cls # data class for EDA stuff
import paul_useful_funcs as funcs

In [4]:
data.describe()

,avg_dist,avg_rating_by_driver,avg_rating_of_driver,avg_surge,surge_pct,trips_in_first_30_days,weekday_pct
count,"40,000.0000","39,838.0000","33,472.0000","40,000.0000","40,000.0000","40,000.0000","40,000.0000"
mean,5.7913,4.7774,4.6017,1.0750,8.8573,2.2807,60.8744
std,5.7081,0.4481,0.6148,0.2224,20.0140,3.8113,37.0896
min,0.0000,1.0000,1.0000,1.0000,0.0000,0.0000,0.0000
25%,2.4200,4.7000,4.3000,1.0000,0.0000,0.0000,33.3000
50%,3.8800,5.0000,4.9000,1.0000,0.0000,1.0000,66.7000
75%,6.9300,5.0000,5.0000,1.0500,8.3000,3.0000,100.0000
max,160.9600,5.0000,5.0000,8.0000,100.0000,125.0000,100.0000

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   avg_dist                40000 non-null  float64
 1   avg_rating_by_driver    39838 non-null  float64
 2   avg_rating_of_driver    33472 non-null  float64
 3   avg_surge               40000 non-null  float64
 4   city                    40000 non-null  object
 5   last_trip_date          40000 non-null  object
 6   phone                   39681 non-null  object
 7   signup_date             40000 non-null  object
 8   surge_pct               40000 non-null  float64
 9   trips_in_first_30_days  40000 non-null  int64
 10  luxury_car_user         40000 non-null  bool
 11  weekday_pct             40000 non-null  float64
dtypes: bool(1), float64(6), int64(1), object(4)
memory usage: 3.4+ MB

In [9]:
dataobj = data_cls(data)